.login-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .form {
    width: 100%;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 30px 20px;
    margin: 30px;
    margin-bottom: 30px;
  }
}

@media (min-width: 767px) {
  .form {
    width: 30%;
    background: #fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 30px 20px;
    margin: 30px;
    margin-bottom: 30px;
  }
}